openapi: 3.0.1
info:
  title: Maileva / Création et envoi de Maileva copro réservé aux professionnels de l'immobilier
  version: '1.37'
  description: |-
    API pour créer et envoyer des Lettres Recommandées Copro réservées aux professionnels de l'immobilier.
    
    En fonction du canal d'envoi défini, la Lettre Recommandée Copro sera envoyée de manière électronique ou papier. 
    Il est possible de définir un canal d'envoi (papier ou électronique) ou de passer par l'API <a href="/developpeur/electronic_consents">electronic_consents</a> pour récupérer le canal d'envoi accepté par le destinataire.  

    Cette API comprend les fonctions clés pour :

     - créer un envoi,
     - ajouter des documents et des destinataires,
     - choisir ses options (Nom, Champ libre, référence dossier, référence client)
     - envoyer ses lettres recommandées copro
     - gérer ses modes d'envoi : papier ou électronique
     - suivre ses envois et télécharger les preuves de dépôt et justificatifs de réception. 
     
     **Paramétrage de compte expéditeur :** 
     
     Chaque expéditeur d'une Maileva Copro doit posséder un compte expéditeur. Il est donc nécessaire de paramétrer son compte expéditeur en passant par l'API <a href="/developpeur/electronic_mail_emitter">electronic_mail_emitter</a> ou en se connectant à son espace client, depuis le lien reçu par notification e-mail et en suivant les étapes de paramétrage de compte.

servers:
  - url: 'https://api.maileva.com/real_estate/v1'
    description: Production
  - url: 'https://api.sandbox.maileva.net/real_estate/v1'
    description: Sandbox

paths:
  /sendings:
    post:
      tags:
        - Envoi
      summary: Création d'un envoi
      description: 'Permet de créer un envoi. Cet envoi sera en état de brouillon (statut DRAFT), il est donc nécessaire de soummettre l''envoi afin qu''il soit envoyé en production.'
      operationId: createSending
      requestBody:
        description: Nouvel envoi
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendingCreation'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: url resource
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    get:
      tags:
        - Envoi
      summary: Liste des envois
      description: 'Permet d''obtenir la liste des envois. Il est possible de rajouter un attribut dans les paramètres afin de filtrer la liste des envois. La liste des envois peut être paginée. Par défaut, la pagination est de 50 résultats. Elle peut être modifiée pour atteindre jusqu''à 500 résultats.'
      operationId: findSendings
      parameters:
        - name: start_index
          in: query
          description: Le premier élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: count
          in: query
          description: Le nombre d'élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 50
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: desc
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  '/sendings/{sending_id}':
    patch:
      tags:
        - Envoi
      summary: Modification des options d'envoi
      description: |-
        Permet de modifier les options liées à un envoi.

        Seuls les envois en état de brouilon (DRAFT) peuvent être modifiés.

        Seuls les paramètres pour lesquels une valeur est fournie sont modifiés.

        Si votre système ne permet pas d'utiliser le verbe PATCH, il est possible d'utiliser le verbe POST.
      operationId: updateSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendingUpdate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    get:
      tags:
        - Envoi
      summary: Détail d'un envoi
      description: Permet de récupérer le détail d'un envoi à partir de son identifiant.
      operationId: getSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    delete:
      tags:
        - Envoi
      summary: Suppression d'un envoi
      description: |-
        Permet de supprimer un envoi.

        Seuls les envois en état de brouillon (DRAFT) peuvent être supprimés.
      operationId: deleteSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
  '/sendings/{sending_id}/check':
    post:
      tags:
        - Envoi
      summary: Vérification de l'envoi avant soumission
      description: |-
        Permet de vérifier l'envoi avant soumission (asynchrone).

        Cette vérification est à réaliser systématiquement au moment du SUBMIT de l'envoi.

        Il est nécessaire d'indiquer un canal d'envoi (SENDING MODE)
        - Lettre Recommandé (REGISTERED_MAIL)
        - Electronique (ELECTRONIC_NOTICE)
        - Consentement (USE_CONSENT), le canal étant défini en fonction du consentement donné par le destinataire

        En fonction du canal d'envoi défini, des informations d'envoi et destinataires sont nécessaires.

        __Informations d'envoi obligatoires pour les envois papiers  :__

        - Le format d'impression : recto-verso ou recto seul
        - Durée d'archivage optionnelle : 0 an, 3, 6 ou 10 ans
        - gestion électronique des plis non distribuables (PND)
        - informations liées à l'expediteur

        __Informations destinataires pour un envoi papier :__
        - address_line_1
        - address_line_2
        - address_line_3
        - address_line_4
        - address_line_5
        - address_line_6

        Chaque ligne d’adresse doit contenir au plus 38 caractères.

        La ligne d’adresse 1 ou 2 doit être définie obligatoirement. La ligne d’adresse 6 doit être définie obligatoirement. Pour les adresses françaises, la ligne d’adresse 6 doit contenir un code postal sur 5 chiffres, suivi d’un espace, suivi d’une ville.

        __Informations d'envoi obligatoires pour les envois électroniques :__

        - Objet de la notification qui sera envoyée au destinataire
        - Message personnalisé
        - Complément d'information afin de rajouter une mention libre juste après le nom et prénom (ou société) de l’expéditeur.


        __Informations destinataires  pour un envoi électronique :__
        - Legal status
        - first_name
        - last_name
        - company
        - email

        Seul le champs "société" est facultatif, les autres étant obligatoires.


        Pour les envois passant par le consentement des destinataires, l'ensemble des champs sont nécessaires afin de pouvoir effectuer l'envoi en version papier ou en version électonique.
      operationId: checkSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    get:
      summary: Liste des envois vérifiés avant soumission
      description: Permet de connaitre l'état du contrôle de l'envoi.
      operationId: getCheckSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '204':
          description: No results yet
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Envoi
  '/sendings/{sending_id}/submit':
    post:
      tags:
        - Envoi
      summary: Finalisation d'un envoi
      description: |-
        Permet de soumettre l'envoi (asynchrone) et déclencher ainsi la demande de production.

        Un envoi soumis ne peut pas être annulé.
      operationId: submitSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    get:
      summary: Contrôle l'état d'un envoi après soumission
      description: Permet de connaitre l'état du contrôle de l'envoi.
      operationId: getSubmitSending
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '204':
          description: No results yet
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Envoi
  '/sendings/{sending_id}/documents':
    post:
      tags:
        - Documents
      summary: Ajout d'un document à l'envoi.
      description: |-
        Permet d'ajouter un document à l'envoi.

        Les documents autorisés sont les documents imprimables
        - PDF
        - doc(x)
        - xls(x)
        - txt

        Les documents ajoutés pour un envoi ne doivent pas dépasser 50Mo au total. Le nombre total de documents est limité à 30. 

        Les documents ajoutés pour un envoi ne doivent pas être inférieur à 4 feuilles et ne doivent pas dépasser 200 feuilles au total (page porte adresse comprise).

        Dans le cas ou l'option recto est activée, le nombre de page minimum est de 4 et le nombre maximum de page est limité à 199 (hors page porte adresse).  Dans le cas ou l'option recto/verso est activée, le nombre de page minimum est de 7 et le nombre maximum de page est limité à 398 (hors page porte adresse). 

        Le document doit être transmis en mutipart ainsi que la metadata. La metadata est constituée de priority (permet de définir l'ordre de priorité des documents dans l'envoi), de name (permet de donner un nom au fichier) et adjust (permet d'ajuster la taille).
      operationId: createDocument
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentCreation'
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: url resource
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
    get:
      tags:
        - Documents
      summary: Liste des documents d'un envoi
      description: 'Permet de récupérer la liste des documents associés à l''envoi. La liste des documents d''un envoi peut être paginée. Par défaut et au maximum, la pagination est de 30 résultats.'
      operationId: getDocuments
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: start_index
          in: query
          description: Le premier élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: count
          in: query
          description: Le nombre d'élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 30
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: desc
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
  '/sendings/{sending_id}/documents/{document_id}':
    patch:
      tags:
        - Documents
      summary: Modification des metadata d'un document
      description: 'Permet de modifier les metadata d''un document (priority, name, adjust)'
      operationId: updateDocument
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          description: Identifiant du document
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
    get:
      tags:
        - Documents
      summary: Détail d'un document
      description: Permet de récupérer le détail d'un document utilisé lors de l'envoi.
      operationId: getDocument
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          description: Identifiant du document
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          $ref: '#/components/responses/Error401'
        '404':
          $ref: '#/components/responses/Error404'
    delete:
      tags:
        - Documents
      summary: Suppression d'un document
      description: Permet de supprimer un document d'un envoi.
      operationId: deleteDocument
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: document_id
          in: path
          description: Identifiant du document
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
  '/sendings/{sending_id}/recipients':
    post:
      tags:
        - Destinataires
      summary: Ajout d'un destinataire à l'envoi
      description: |-
        Permet d'ajouter un destinataire à l'envoi. Le nombre de destinataires est limité à 30 000. Les documents ajoutés pour un envoi ne doivent pas dépasser 200 feuilles au total.

                Il est nécessaire d'indiquer un canal d'envoi (SENDING MODE)
        - Lettre Recommandé (REGISTERED_MAIL)
        - Electronique (ELECTRONIC_NOTICE)
        - Consentement (USE_CONSENT), le canal étant défini en fonction du consentement donné par le destinataire

        En fonction du canal d'envoi défini, des informations destinataires sont nécessaires.

        __Informations destinataires pour le sending_mode "REGISTERED_MAIL" :__
        - address_line_1
        - address_line_2
        - address_line_3
        - address_line_4
        - address_line_5
        - address_line_6

        Chaque ligne d’adresse doit contenir au plus 38 caractères.

        La ligne d’adresse 1 ou 2 doit être définie obligatoirement. La ligne d’adresse 6 doit être définie obligatoirement. Pour les adresses françaises, la ligne d’adresse 6 doit contenir un code postal sur 5 chiffres, suivi d’un espace, suivi d’une ville.

        __Informations destinataires  pour le sending_mode "ELECTRONIC_NOTICE" :__
        - Legal status
        - first_name
        - last_name
        - company
        - email

        Seul le champs "société" est facultatif, les autres étant obligatoires.


        Pour les destinataires passant par le mode d'envoi "USE_CONSENT" les champs obligatoires des destinataires papier et electronique sont à définir.
      operationId: createRecipient
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      requestBody:
        description: Nouveau destinataire
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientCreation'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: url resource
              style: simple
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
    get:
      tags:
        - Destinataires
      summary: Liste des destinataires d'un envoi
      description: 'Permet de récupérer la liste des destinataires d''un envoi. Cette liste peut être paginée. Par défaut, la pagination est de 50 résultats. Elle peut atteindre 500 au maximum.'
      operationId: getRecipients
      parameters:
        - name: sending_id
          in: path
          required: true
          schema:
            type: string
        - name: start_index
          in: query
          description: Le premier élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 1
        - name: count
          in: query
          description: Le nombre d'élément à retourner
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
            default: 50
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: desc
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
    delete:
      tags:
        - Destinataires
      summary: Suppression de tous les destinataires
      description: Permet de supprimer tous les destinataires d'un envoi. Disponible pour les envois en statut Draft seulement.
      operationId: deleteAllRecipients
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
  '/sendings/{sending_id}/recipients/{recipient_id}':
    get:
      tags:
        - Destinataires
      summary: Détail d'un destinataire
      description: Permet de lister les données d'un destinataire d'un envoi.
      operationId: getRecipient
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: recipient_id
          in: path
          description: Identifiant du destinataire
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
    patch:
      tags:
        - Destinataires
      summary: Modification partielle d'un destinataire
      description: Permet de modifier partiellement un destinataire
      operationId: updateRecipient
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: recipient_id
          in: path
          description: Identifiant du destinataire
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientUpdate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
    delete:
      tags:
        - Destinataires
      summary: Suppression d'un destinataire
      description: Permet de supprimer un destinataire d'un envoi.
      operationId: deleteRecipient
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: recipient_id
          in: path
          description: Identifiant du destinataire
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
  '/sendings/{sending_id}/recipients/{recipient_id}/download_deposit_proof':
    get:
      tags:
        - Destinataires
      summary: Télécharger la preuve de dépot du destinataire
      description: 'Permet de télécharger la preuve de dépôt du destinataire. Seules les preuves de dépôt des envois électronique sont disponibles. Concernant le papier, les preuves de dépôt sont transmises à l''expéditeur par recommandé papier.'
      operationId: downloadDepositProof
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: recipient_id
          in: path
          description: Identifiant du destinataire
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
  '/sendings/{sending_id}/recipients/{recipient_id}/download_delivery_proof':
    get:
      tags:
        - Destinataires
      summary: 'Télécharger le justificatif de réception du destinataire (accusé de reception, refus ou non réclamation)'
      description: 'Permet de télécharger au format PDF le justificatif de réception du destinataire. Pour les envois papiers, il est nécessaire d''utiliser l''option "acknowledgement_of_receipt_scanning" afin que l''AR soit numérisé et disponible depuis cet url. Si l''option n''est pas activée, l''expéditeur reçoit son AR en version papier.'
      operationId: downloadDeliveryProof
      parameters:
        - name: sending_id
          in: path
          description: Identifiant de l'envoi
          required: true
          schema:
            type: string
        - name: recipient_id
          in: path
          description: Identifiant du destinataire
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsDto'
components:
  responses:
    Error404:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    Error401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    Error400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
  schemas:
    SendingCreation:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
          minLength: 1
          description: Nom de l'envoi
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          maxLength: 38
          minLength: 0
          type: string
          description: Identifiant de l'envoi défini par le client.
          example: ref client
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
          example: ref_dossier
        registered_mail_options:
          $ref: '#/components/schemas/registered_mail_options'
        electronic_notice_options:
          $ref: '#/components/schemas/electronic_notice_options'
    SendingResponse:
      type: object
      properties:
        id:
          type: string
        name:
          maxLength: 256
          minLength: 1
          type: string
          description: Nom de l'envoi
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          maxLength: 38
          minLength: 0
          type: string
          description: Identifiant de l'envoi défini par le client
          example: ref client
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
          example: ref_dossier
        registered_mail_options:
          $ref: '#/components/schemas/registered_mail_options'
        electronic_notice_options:
          $ref: '#/components/schemas/electronic_notice_options'
        status:
          type: string
          description: 'Statut d''un envoi : <table border="1"> <tr bgcolor="lightgrey"> <th>Type de statut</th> <th>Description</th> </tr> <tr> <td>DRAFT</td> <td>L''envoi est au statut de brouillon, non validé par l’utilisateur</td> </tr> <td>PENDING</td> <td>Le client a fait un envoi, mais il n’a pas encore été analysé par le système ou l''envoi a été reçu mais il n’a pas encore été analysé</td> </tr> </tr> <td>BLOCKED</td> <td>L''envoi est bloqué pour problème de paiement. Il sera automatiquement débloqué une fois le paiement régularisé.</td> </tr> <tr> <td>ACCEPTED</td> <td>L''envoi est compatible avec nos critères de validation et va être traité.</td> </tr> <tr> <td>REJECTED</td> <td>L''envoi est rejeté et ne peut être traité (exemple : incompatibilité d''options, de document, paiement...)</td> </tr> </tr> <td>CANCELED</td> <td>L’envoi a été annulé par l''utilisateur.</td> </tr> </tr> <td>PREPARING</td> <td>L’envoi est en cours de production.</td> </tr> <tr> <td>PROCESSED</td> <td>L''envoi a été traité et tous les destinataires étaient valides</td> </tr> <tr> <td>PROCESSED_WITH_ERRORS</td> <td>L''envoi a été traité mais certains destinataires n’étaient pas valides</td> </tr> </table> '
          enum:
            - DRAFT
            - PENDING
            - BLOCKED
            - ACCEPTED
            - REJECTED
            - CANCELED
            - PREPARING
            - PROCESSED
            - PROCESSED_WITH_ERRORS
        order_id:
          type: string
          description: Identifiant interne Maileva de la commande.
        order_reference:
          type: string
          description: Reference interne Maileva de la commande.
        submission_date:
          type: string
          format: date-time
          description: Date et heure de soumission
          example: '2018-03-14T07:21:40.757Z'
        processed_date:
          type: string
          format: date-time
          description: Date et heure de production
          example: '2018-03-14T07:21:40.757Z'
        archive_date:
          type: string
          format: date-time
          description: Date et heure d'archivage'
          example: '2018-03-14T07:21:40.757Z'
        created_by:
          $ref: '#/components/schemas/ByModel'
        modified_by:
          $ref: '#/components/schemas/ByModel'
      required:
        - name
    SendingUpdate:
      type: object
      properties:
        name:
          maxLength: 256
          minLength: 1
          type: string
          description: Nom de l'envoi
          example: Résiliation d'un abonnement téléphonique
        custom_id:
          maxLength: 38
          minLength: 0
          type: string
          description: Identifiant de l'envoi défini par le client
          example: ref client
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
          example: ref_dossier
        registered_mail_options:
          $ref: '#/components/schemas/registered_mail_options'
        electronic_notice_options:
          $ref: '#/components/schemas/electronic_notice_options'
    SendingsResponse:
      type: object
      properties:
        sendings:
          type: array
          items:
            $ref: '#/components/schemas/SendingResponse'
        paging:
          $ref: '#/components/schemas/Paging'
    DocumentCreation:
      type: object
      properties:
        document:
          type: string
          format: binary
        metadata:
          type: object
          properties:
            priority:
              type: integer
              description: Ordre de priorité du document dans l'envoi.
              minimum: 0
            name:
              type: string
              description: Nom du document
            adjust:
              type: boolean
              description: Ajuste la taille du document et permet de réduire les pages hors format.
              default: true
          required:
            - priority
            - name
      required:
        - document
    DocumentUpdate:
      type: object
      properties:
        metadata:
          type: object
          properties:
            priority:
              type: integer
              description: Ordre de priorité du document dans l'envoi.
            name:
              type: string
              description: Nom du document
            adjust:
              type: boolean
              description: Ajuste la taille du document et permet de réduire les pages hors format.
    DocumentResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
            - CONVERTING
            - PROCESSED
            - REJECTED
          default: PROCESSED
          description: Statut de la vérification du document
        detail:
          type: string
          description: Raison du rejet (statut REJECTED uniquement)
        metadata:
          type: object
          properties:
            name:
              type: string
            priority:
              type: integer
              description: Ordre de priorité du document dans l'envoi.
            adjust:
              type: boolean
              description: Ajuste la taille du document et permet de réduire les pages hors format.
            type:
              type: string
              description: Type du document
              example: application/pdf
            pages_count:
              type: integer
              description: Nombre de pages (disponible à partir du statut ACCEPTED)
              example: 3
            size:
              type: integer
              format: int64
              description: Poids du document en octets
              example: 139071
            converted_size:
              type: integer
              format: int64
              description: Poids du document convertis en octets
              example: 139072
    DocumentsResponse:
      type: object
      properties:
        documents:
          type: array
          items:
            $ref: '#/components/schemas/DocumentResponse'
        paging:
          $ref: '#/components/schemas/Paging'
    RecipientCreation:
      type: object
      description: ''
      required:
        - sending_mode
      properties:
        sending_mode:
          type: string
          description: 'Mode d''envoi du destinataire. Il peut être papier, électronique ou passer par le service de consentement. Si le consentement est donné par le destinataire, le mode d''envoi sera électronique, sinon il sera papier.'
          enum:
            - REGISTERED_MAIL
            - ELECTRONIC_NOTICE
            - USE_CONSENT
        custom_id:
          type: string
          description: Identifiant du destinataire fourni par le client.
          example: custom
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
        registered_mail_detail:
          $ref: '#/components/schemas/registered_mail_detail'
        electronic_notice_detail:
          $ref: '#/components/schemas/electronic_notice_detail'
        documents_override:
          $ref: '#/components/schemas/composed_document'
    RecipientUpdate:
      type: object
      properties:
        custom_id:
          type: string
          description: Identifiant du destinataire fourni par le client
          example: custom
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
        sending_mode:
          type: string
          description: 'Mode d''envoi du destinataire. Il peut être papier, électronique ou passer par le service de consentement. Si le consentement est donné par le destinataire, le mode d''envoi sera électronique, sinon il sera papier.'
          enum:
            - USE_CONSENT
            - REGISTERED_MAIL
            - ELECTRONIC_NOTICE
        legal_status:
          enum:
            - PROFESSIONAL
            - INDIVIDUAL
          type: string
          description: Type de destinataire
        first_name:
          maxLength: 50
          minLength: 1
          type: string
          description: Prénom du destinataire (envoi électronique seulement)
          example: jean
        last_name:
          maxLength: 50
          minLength: 1
          type: string
          description: Nom du destinataire (envoi électronique seulement)
          example: Dupont
        company:
          maxLength: 38
          minLength: 0
          type: string
          description: Société du destinataire (envoi électronique seulement)
        email:
          pattern: '^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})+$'
          type: string
          description: Adresse email du destinataire
          example: jean.dupont@gmail.com
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
        address_line_2:
          type: string
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          example: Me Eva DUPONT
        address_line_3:
          type: string
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiement ...)'
          example: Résidence des Peupliers
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: 33 avenue de Paris
        address_line_5:
          type: string
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          example: BP 356
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: 75000 Paris
        country_code:
          $ref: '#/components/schemas/country_code'
        documents_override:
          $ref: '#/components/schemas/composed_document'
    RecipientResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifiant du destinataire
          example: d905a65e-aa46-4f37-8480-260c4600c810
        custom_id:
          type: string
          description: Identifiant du destinataire fourni par le client
          example: custom
        custom_data:
          maxLength: 255
          minLength: 0
          type: string
          description: Information libre fournie par le client.
        sending_mode:
          type: string
          description: 'Mode d''envoi du destinataire. Il peut être papier, électronique ou passer par le service de consentement. Si le consentement est donné par le destinataire, le mode d''envoi sera électronique, sinon il sera papier.'
          enum:
            - REGISTERED_MAIL
            - ELECTRONIC_NOTICE
            - USE_CONSENT
        legal_status:
          enum:
            - PROFESSIONAL
            - INDIVIDUAL
          type: string
          description: Type de destinataire
        first_name:
          type: string
          description: Prénom du destinataire
          example: jean
        last_name:
          type: string
          description: Nom du destinataire
          example: Dupont
        email:
          pattern: '^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})+$'
          type: string
          description: Adresse email du destinataire
          example: jean.dupont@gmail.com
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
        address_line_2:
          type: string
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          example: Me Eva DUPONT
        address_line_3:
          type: string
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiement ...)'
          example: Résidence des Peupliers
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          example: 33 avenue de Paris
        address_line_5:
          type: string
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          example: BP 356
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          example: 75000 Paris
        country_code:
          $ref: '#/components/schemas/country_code'
        company:
          type: string
          description: Société du destinataire
        status:
          type: string
          description: 'Statut du destinataire. <table border="1"> <tr bgcolor="lightgrey"> <th>Type de statut</th> <th>Description</th> </tr> <tr> <td>DRAFT</td> <td>Ajout d’un destinataire à un envoi non soumis.</td> </tr> <tr> <td>PENDING</td> <td>Le destinataire appartient à un envoi qui est en cours de validation.</td> </tr> <tr> <td>BLOCKED</td> <td>Le destinataire appartient à un envoi qui est bloqué.</td> </tr> <tr> <td>ACCEPTED</td> <td>Le destinataire a été accepté et sera produit.</td> </tr> <tr> <td>REJECTED</td> <td>Le destinataire a été rejeté, ou appartient à un envoi qui a été rejet.</td> </tr> <tr> <td>CANCELED</td> <td>Le destinataire appartient à un envoi qui a été annulé.</td> </tr> <tr> <td>PREPARING</td> <td>Le destinataire est en train d''être produit.</td> </tr> <tr> <td>PROCESSED</td> <td>Le destinataire a été produit.</td> </tr> </table> '
          example: PENDING
          enum:
            - DRAFT
            - PENDING
            - BLOCKED
            - ACCEPTED
            - REJECTED
            - CANCELED
            - PREPARING
            - PROCESSED
        status_detail:
          type: string
          description: Détail d'un statut (cause du rejet)
        delivery_status:
          type: string
          description: 'statut de distribution. <table border="1"> <tr bgcolor="lightgrey"> <th>Type de statut</th> <th>Description</th> </tr> <tr> <td>DELIVERING</td> <td>Le courrier de ce destinataire est en cours de distribution.</td> </tr> <tr> <td>ATTEMPTED_DELIVERY</td> <td>Une tentative de remise du courrier au destinataire a été effectuée.</td> </tr> <tr> <td>DELIVERED</td> <td>Le courrier a été est remis au destinataire.</td> </tr> <tr> <td>UNDELIVERED</td> <td>Le courrier n''a pas été remis au destinataire (statut définitif).</td> <tr>  </table> '
          example: DELIVERED
          enum:
            - DELIVERING
            - ATTEMPTED_DELIVERY
            - DELIVERED
            - UNDELIVERED
        delivery_status_detail:
          type: string
          description: Détail d'un statut de distribution
        status_date:
          type: string
          description: Date du statut de l'envoi
          format: date-time
          example: '2018-03-14T07:21:40.757Z'
        delivery_status_date:
          type: string
          description: Date du statut de distribution
          format: date-time
          example: '2018-03-14T07:21:40.757Z'
        final_sending_mode:
          type: string
          description: 'Mode d''envoi final du destinataire. Si le consentement est donné par le destinataire, le mode d''envoi final sera électronique, sinon il sera papier.'
          enum:
            - REGISTERED_MAIL
            - ELECTRONIC_NOTICE
        delivery_proof:
          $ref: '#/components/schemas/DeliveryProofResource'
        deposit_proof:
          $ref: '#/components/schemas/DepositProofResource'
        documents_override:
          $ref: '#/components/schemas/composed_document'
    RecipientsResponse:
      type: object
      properties:
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/RecipientResponse'
        paging:
          $ref: '#/components/schemas/Paging'
    DepositProofResource:
      type: object
      properties:
        id:
          type: string
          description: Identifiant de la preuve
          example: d905a65e-aa46-4f37-8480-260c4600c818
        creation_date:
          type: string
          description: Date de création de la preuve
          example: '2018-03-14T07:21:40.757Z'
        href:
          type: string
          description: Lien de téléchargement de la preuve
      description: Preuve de dépôt
      title: ''
    DeliveryProofResource:
      type: object
      description: Preuve de dépôt
      title: ''
      properties:
        id:
          type: string
          description: Identifiant de la preuve
          example: d905a65e-aa46-4f37-8480-260c4600c818
        type:
          type: string
          description: Type de preuve
          example: DELIVERY_PROOF
          enum:
            - REFUSAL_PROOF
            - ACKNOWLEDGMENT_OF_RECEIPT
            - NOT_CLAIMED_PROOF
            - DELIVERY_PROOF
        creation_date:
          type: string
          description: Date de création de la preuve
          example: '2018-03-14T07:21:40.757Z'
        href:
          type: string
          description: Lien de téléchargement de la preuve
    document:
      type: object
      description: Bribe de document (plage de pages)
      x-examples:
        example-1:
          value:
            document_id: 6dfe84bc-3428-43db-90b5-ff9ac3b68ac2
            bucket_in: mon_bucket
            shrink:
              left: 80
              top: 110
              width: 110
              height: 110
            start_page: 1
            end_page: 3
      properties:
        document_id:
          type: string
          format: uuid
          description: uid du document préalablement ajouté
          example: 6dfe84bc-3428-43db-90b5-ff9ac3b68ac2
        start_page:
          type: integer
          description: Première page. Page 1 du document par défaut.
          example: 1
          minimum: 1
        end_page:
          type: integer
          description: Dernière page. Dernière page du document par défaut.
          example: 3
          minimum: 1
      required:
        - document_id
    country_code:
      type: string
      description: Code du pays (Code ISO-3166). Pas d'envoi à l'International.
      enum:
        - FR
        - MC
        - AD
        - RE
        - YT
        - MQ
        - GP
        - MF
        - BL
        - GF
        - PM
      example: FR
    Paging:
      type: object
      properties:
        prev:
          type: string
        next:
          type: string
        total_results:
          type: integer
          format: int64
    RecipientsCounts:
      type: object
      properties:
        draft:
          type: integer
          format: int32
        pending:
          type: integer
          format: int32
        processed:
          type: integer
          format: int32
        rejected:
          type: integer
          format: int32
        accepted:
          type: integer
          format: int32
        refused:
          type: integer
          format: int32
        not_claimed:
          type: integer
          format: int32
        error:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
    ErrorsDto:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDto'
    ErrorDto:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    error_response:
      description: Description de l'erreur
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |-
            <table border="1">
              <tr bgcolor="lightgrey">
                <th>Code</th>
                <th>Description</th>
              </tr>
              <tr><td>ADDRESS_LINE_1_TOO_LONG</td><td>La ligne d'adresse n°1 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_2_TOO_LONG</td><td>La ligne d'adresse n°2 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_3_TOO_LONG</td><td>La ligne d'adresse n°3 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_4_TOO_LONG</td><td>La ligne d'adresse n°4 est limitée à 38 caractères</td></tr>
              <tr><td>ADDRESS_LINE_5_TOO_LONG</td><td>La ligne d'adresse n°5 est limitée à 38 caractères</td></tr>
            </table>
        message:
          type: string
      x-examples:
        example-1:
          value:
            code: string
            message: string
    composed_document:
      title: composed_document
      description: 'Liste de bribes de documents. Si ce champ n''est pas renseigné, le destinataire recevra tous les documents associé à l''envoi dans l''ordre spécifié par la priorité. Si ce champ est renseigné, le destinataire recevra la liste de bribes de documents indiquées (dans l''ordre des éléments du tableau).'
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Nom du document composé. Il sera visible par le destinataire en cas d'envoi électronique.
        documents:
          type: array
          items:
            $ref: '#/components/schemas/document'
    ByModel:
      title: ByModel
      type: object
      properties:
        application_id:
          type: string
        user_login:
          type: string
        date:
          type: string
    registered_mail_options:
      title: RegisteredMailOptions
      type: object
      properties:
        duplex_printing:
          type: boolean
          description: Impression recto verso
          default: true
          example: true
        archiving_duration:
          type: integer
          description: 'Durée d''archivage optionnelle pour envoi papier (en années). Par défaut, elle est à 0.'
          enum:
            - 0
            - 1
            - 3
            - 6
            - 10
          default: 0
          example: 0
        acknowledgement_of_receipt_scanning:
          type: boolean
          description: |-
            Gestion électronique des avis de réception (AR). Cette option indique que Maileva doit recevoir, numériser,
            mettre en ligne l’image et archiver physiquement les Avis de Réception. Pour cela, la première ligne de l’adresse
            de l’expéditeur sera conservée, mais les 5 autres lignes et le pays seront remplacés par l’adresse de Maileva.
            Cette option nécessite que l’option avis de réception soit activée.
          default: false
          example: true
        sender_address_line_1:
          description: Ligne d'adresse n°1 (Société) de l'expéditeur
          type: string
          example: Société Durand
        sender_address_line_2:
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom) de l''expéditeur'
          type: string
          example: M. Pierre DUPONT
        sender_address_line_3:
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiement ...) de l''expéditeur'
          type: string
          example: Batiment B
        sender_address_line_4:
          description: Ligne d'adresse n°4 (N° et libellé de la voie) de l'expéditeur
          type: string
          example: 10 avenue Charles de Gaulle
        sender_address_line_5:
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...) de l''expéditeur'
          type: string
          example: ''
        sender_address_line_6:
          description: Ligne d'adresse n°6 (Code postal et ville) de l'expéditeur
          type: string
          example: 94673 Charenton-Le-Pont
        sender_country_code:
          $ref: '#/components/schemas/country_code'
      required:
        - sender_address_line_1
        - sender_address_line_6
      description: ''
    electronic_notice_options:
      title: ElectronicNoticeOptions
      type: object
      required:
        - electronic_sender_id
        - notification_object
      properties:
        electronic_sender_id:
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
          type: string
          description: Id de l'expéditeur
        notification_object:
          maxLength: 256
          minLength: 1
          type: string
          description: Objet de l'email (obligatoire)
          example: Convocation AG
        message:
          maxLength: 450
          minLength: 0
          type: string
          description: Message libre défini par le client transmis aux destinataires lors de l'ouverture de son avis électronique
          example: Message personnalisé
        additional_sender_name:
          maxLength: 255
          minLength: 0
          type: string
          description: Nom de l'éxpediteur défini par le client ajouté après le nom de l'éxpediteur
          example: Nom & Prénom pour le compte de Maileva
    electronic_notice_detail:
      title: ElectronicNoticeDetail
      type: object
      properties:
        legal_status:
          enum:
            - PROFESSIONAL
            - INDIVIDUAL
          type: string
          description: Type de destinataire
        first_name:
          maxLength: 50
          minLength: 1
          type: string
          description: Prénom du destinataire (envoi électronique seulement)
          example: jean
        last_name:
          maxLength: 50
          minLength: 1
          type: string
          description: Nom du destinataire (envoi électronique seulement)
          example: Dupont
        company:
          maxLength: 38
          minLength: 0
          type: string
          description: Société du destinataire (envoi électronique seulement)
        email:
          pattern: '^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})+$'
          type: string
          description: Adresse email du destinataire
          example: jean.dupont@gmail.com
      required:
        - legal_status
        - first_name
        - last_name
        - email
    registered_mail_detail:
      title: RegisteredMailDetail
      type: object
      properties:
        address_line_1:
          type: string
          description: Ligne d'adresse n°1 (Société)
          example: La Poste
          maxLength: 38
        address_line_2:
          type: string
          description: 'Ligne d''adresse n°2 (Civilité, Prénom, Nom)'
          maxLength: 38
          example: Me Eva DUPONT
        address_line_3:
          type: string
          description: 'Ligne d''adresse n°3 (Résidence, Bâtiement ...)'
          maxLength: 38
          example: Résidence des Peupliers
        address_line_4:
          type: string
          description: Ligne d'adresse n°4 (N° et libellé de la voie)
          maxLength: 38
          example: 33 avenue de Paris
        address_line_5:
          type: string
          description: 'Ligne d''adresse n°5 (Lieu dit, BP...)'
          maxLength: 38
          example: BP 356
        address_line_6:
          type: string
          description: Ligne d'adresse n°6 (Code postal et ville)
          maxLength: 38
          example: 75000 Paris
        country_code:
          $ref: '#/components/schemas/country_code'
      required:
        - address_line_6
